<!DOCTYPE html>
<html>
	<head>
		<title>ZEE5</title>
		<meta name = "keywords" content = "1, 2, 3"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" /> 
		<meta name = "description" content = "testing shit"/>
		<meta name = "author" content = "dedshit"/>
		<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8"/>
		<link rel="shortcut icon" href="/favicon.ico"/>
	</head>	
	<body style="background-color:black;">
		<div id = "gif" align = "center">
			<img src = 'https://media3.giphy.com/media/1xONIE9kieqf4VTX50/giphy.gif'/>
		</div>
		<p align = "center" style = "color:grey"><b>Stream premium content 100% free</b></p>
		<div id = "menu" align = "center" style = "color:green">
			<form action ="" method ="POST">
				<b>Enter Url <input name ="q"></b>
				<input type ="submit">
			</form></br>
			<h2> HOW IT WORKS </h2>
				<p style = "color:grey"><b>1. Enter link of video you want to stream(zee5)</br></br>
										   2. Click submit to begin stream
										    </b></p>
			<h3> Features </h3>
				<p style = "color:grey"><b> • No registration required</b></br></br>
											• Added movies, shows, originals, music<b></p>
			<a href = "/about">About</a> | <a href = "/contact">Contact</a>
		</div>
	</body>	
</html>
